
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  section {
    padding-top: 30px;
    background-image: url("https://i.pinimg.com/originals/ec/d6/72/ecd67255b08380eb534d3f8ee397bc85.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 270vh;
    width: 100%;
  }
  
  .container {
    background-color: #2c2828b8;
    border: 2px solid #fff;
    box-shadow: 1px 1px 4px 5px #b1e696;
    text-align: center;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
    max-height: fit-content;
    padding-top: 20px;
    padding-bottom: 1px;
  }

  .card-container .card-title {
    font-weight: bold;
    color: #333;
  }
  
  .card-container .card-text {
    color: #555;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 24px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
  }
  
  .total-product {
    background-color: #4f953d;
    width: 450px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .total-product h4 {
    margin: 30px 0;
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
    
  button:hover {
    background-color: #0b0c50;
    color: #fff;
  }
  
  .login_session {
    background-color: #2c2828b8;
    width: 400px;
    height: 25px;
    border: 1px solid #0b0c50;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .login_session p {
    color: #fff;
    margin: 30px 0;
    text-align: center;
    font-weight: 600;
  }

  .remove_button {
    position: relative;
    width: 100%;
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
    border: 1px solid #0b0c50; /* Dark border */
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}